<main class=" mx-auto mt-16 sm:w-max">
  <div class="flex items-center justify-between bg-sky-700 text-white rounded-t-md pt-3 px-3">
    <h1>Angular - Questão 1</h1>
    <div class="flex items-center gap-2">
    <fa-icon [icon]="faClock" class="mb-3 text-xl"></fa-icon>
    <p class="text-xl">20:00</p>
  </div>
  </div>
  <div class="flex flex-col rounded ">

      <h3 class="bg-sky-100 p-4">Qual das seguintes afirmações é verdadeira sobre o uso de "observables" no Angular?</h3>
      <div class="flex cursor-pointer bg-neutral-50 gap-6 p-7 hover:bg-neutral-200 border-b">
        <div class="w-7"><input type="radio" class="cursor-pointer bg-sky-200"></div><label class="text-justify cursor-pointer" for="">A) Observables são usados apenas para gerenciar
          eventos de usuário em interfaces gráficas.</label>
      </div>
      <div class="flex bg-neutral-50 cursor-pointer gap-6 p-7 border-b hover:bg-neutral-200">
        <div class="w-7"><input type="radio" class="cursor-pointer bg-sky-200"></div><label class="text-justify w-96 cursor-pointer" for="">B) Observables são usados para transformar
          valores assíncronos e fluxos de dados em Angular.</label>
      </div>
      <div class="flex bg-neutral-50 cursor-pointer gap-6 p-7 border-b hover:bg-neutral-200">
        <div class="w-7"><input type="radio" class="cursor-pointer bg-sky-200"></div><label class="text-justify w-96 cursor-pointer" for="">C) Observables são uma alternativa para o uso de
          promessas na programação assíncrona em JavaScript.</label>
      </div>
      <div class="flex bg-neutral-50 cursor-pointer gap-6 p-7 border-b hover:bg-neutral-200">
        <div class="w-7"><input type="radio" class="cursor-pointer bg-sky-200"></div><label class="text-justify w-96 cursor-pointer" for="">D) Observables não podem ser usados em conjunto com o
          Angular HTTP Client para fazer solicitações assíncronas para servidores.</label>
      </div>
      <div class="flex bg-neutral-50 cursor-pointer rounded-b-md border-b gap-6 p-7 hover:bg-neutral-200">
        <div class="w-7"><input type="radio" class="cursor-pointer bg-sky-200"></div><label class="text-justify w-96 cursor-pointer" for="">E) Observables são usados apenas para lidar com erros e
          exceções em Angular.</label>
      </div>
    </div>
    <div class="mx-auto flex gap-5 justify-evenly mt-3">
    <button class="text-lg text-white bg-sky-700 py-2 px-4 rounded-xl hover:bg-sky-600 transition ease-in-out duration-500">Anterior</button>
    <button class="text-lg text-white bg-sky-700 py-2 px-3 rounded-xl hover:bg-sky-600 transition ease-in-out duration-500 sm:px-24">Responder</button>
    <button class="text-lg text-white bg-sky-700 py-2 px-4 rounded-xl hover:bg-sky-600 transition ease-in-out duration-500">Próximo</button>
  </div>
</main>
