<main class="min-h-screen">
  <div class="w-1/3 flex flex-col mx-auto mb-20 bg-sky-700 text-white p-5 mt-16 rounded-lg drop-shadow-lg">
  <div class="flex items-center justify-between">
  <img [src]="quizCurrent.image" width="150" [alt]="quizCurrent.name">
  <h1 class="relative top-2">Quiz: {{quizCurrent.name}}</h1>
</div>
<p>Você está iniciando o quiz. Leia atentamente as instruções abaixo para a sua boa realização.</p>
<div class="mt-7 text-justify">

  <h2 >Instruções:</h2>
  <ul>
    <li class="mb-2">- O quiz possui 10 questões multipla escolha com 4 alternativas.</li>
    <li class="mb-2">- O quiz terá duração de 10 minutos. Portanto aconselhamos separar em média 1 minuto por questão.</li>
    <li class="mb-2">- A cada questão acertada você obterá +1 ponto. A pontuação máxima são de 10.</li>
    <li class="mb-2">- O botão "Responder" fará você escolher determinada alternativa, não podendo mais retornar para a mesma.</li>
    <li class="mb-2">- O botão "Próximo" fará você ir para questão seguinte, podendo ser retornada clicando no botão "Anterior".</li>
    <li class="mb-2">- O tempo atingido na execução do quiz é fator de desempate caso outro usuário obtenha mesma pontuação.</li>
    <li class="mb-2">- Caso sua conexão caia ou você saia do quiz, seu teste é interrompido recebendo a pontuação conquistada até então. <strong>Portanto certifique-se que sua conexão esteja estável.</strong></li>
  </ul>
</div>
<button routerLink="questao" class="font-bold bg-slate-200 text-slate-600 w-36 mx-auto mt-7 p-1 rounded-lg text-lg hover:bg-slate-300 transition ease-in-out duration-500">Iniciar Quiz</button>
</div>
</main>
