<main class="flex justify-center flex-col gap-16 mt-16 items-center md:flex-row gap-24">
  <div>
<img src="../../../assets/angular-logo.png" width="550" alt="Angular Logo">
</div>
<div class="w-96 flex flex-col items-center p-14 rounded-full drop-shadow-lg bg-sky-100 ">
  <h1 class="text-9xl text-center">Quiz Angular da Procenge</h1>
  <p class="text-center">Faça o quiz angular e teste seus conhecimentos em um dos frameworks mais amados pelos desenvolvedores.</p>
  <p class="text-center">Acesse o link abaixo e faça o seu login!</p>
  <button routerLink="login" class="text-xl mt-5 bg-sky-700 text-white p-2 rounded-md border-white hover:bg-sky-600 transition ease-in-out duration-500">Faça seu login!</button>
</div>
</main>
