<div class="min-h-screen">
  <div class="w-fit	mx-auto mt-9 bg-white p-3 rounded shadow-lg ">
<div class="flex items-center justify-between mb-9 ">
<h1>Ranking:</h1>
<div class="flex items-baseline gap-5">
  <form [formGroup]="formRanking" class="flex flex-col rounded">
    <select class="border-2" id="" formControlName="rankingSelect">
      <option *ngFor="let ranking of rankings" [value]="ranking.valor">{{ranking.desc}}</option>
    </select>
    </form>
    <button (click)="selectRanking()" class="bg-sky-700 text-white p-1.5 mt-7 rounded-lg hover:bg-sky-600 hover:bg-sky-600 transition ease-in-out duration-500">
      Pesquisar
    </button>
</div>

</div>
<table class="table-auto text-center">
  <thead>
    <tr class="text-lg bg-sky-700 text-white">
      <th class="w-28">Rank</th>
      <th class="w-14"></th>
      <th class="w-28">Nome</th>
      <th class="w-28">Tempo</th>
      <th class="w-28">Pontuação</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let item of listScoresRanking; let i = index" [attr.data-index]="i" class="text-base bg-sky-100">
        <td>{{i+1}}</td>
        <td><img class="w-14 rounded-full" [src]="item.image"></td>
        <td>{{item.name}}</td>
        <td>{{item.duration}}</td>
        <td>{{item.score}}/10</td>
      </tr>
    </tbody>
</table>
</div>
</div>
