<div class="min-h-screen">
  <div class="w-fit	mx-auto mt-9 bg-white p-3 rounded shadow-lg ">
<div class="flex items-center justify-between mb-9 ">
<h1>Ranking:</h1>
<select name="" class="border-2" id="">
  <option value="">Selecione um ranking</option>
  <option value="">Angular</option>
  <option value="">Centura</option>
  <option value="">SQL</option>
  <option value="">AWS</option>
</select>
</div>
<table class="table-auto text-center">
  <thead>
    <tr class="text-lg bg-sky-700 text-white">
      <th class="w-28">Rank</th>
      <th class="w-28">Nome</th>
      <th class="w-28">Tempo</th>
      <th class="w-28">Pontuação</th>
    </tr>
  </thead>
    <tbody>
      <tr class="text-base bg-sky-100">
        <td>1</td>
        <td>André</td>
        <td>10min</td>
        <td>9/10</td>
      </tr>
      <tr class="text-base bg-slate-50">
        <td>2</td>
        <td>João</td>
        <td>5min</td>
        <td>7/10</td>
      </tr>
      <tr class="text-base bg-sky-100">
        <td>2</td>
        <td>João</td>
        <td>5min</td>
        <td>7/10</td>
      </tr>
    </tbody>
</table>
</div>
</div>
